<%- include('./partials/header') %>
    <header class="masthead"
        style="background-image: url('https://images.unsplash.com/photo-1682687218982-6c508299e107?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Resume Page</h1>
                        <span class="subheading">A Blog Theme by devBlog</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <%- include('./partials/footer') %>